<h3>予約一覧</h3>
<p>全<%= @reservations.count %>件</p>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>合計料金</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td>
        <% if reservation.room.room_image.present? %>
          <%= image_tag @room.room_image.url %>
        <% else %>
          <%= image_tag("default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png")%>
        <% end %>
        </td>
        <td><%= link_to reservation.room.room_name, room_path(reservation.room_id) %></td>
        <td><%= reservation.room.room_introduction %></td>
        <td>¥<%= reservation.total_price %></td>
        <td><%= l reservation.rev_checkin, format: :short %></td>
        <td><%= l reservation.rev_checkout, format: :short %></td>
        <td><%= l reservation.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>

</table>
